a, .link-with-icon {
  text-decoration: none;
  transition: $default-transition-time;
  color: $tertiary-color;

  &:hover {
    transition: $default-transition-time;
    color: $secondary-color;
  }
}

.link-with-icon {
  display: flex;
  color: $primary-color;

  svg {
    align-self: center;
  }

  &:hover {
    color: $tertiary-color;

    svg {
      margin-left: $default-svg-margin-left;
    }
  }
}

.link-with-text > span {
  margin-right: 5px;
}