.MuiDataGrid-root {
  .MuiDataGrid-columnHeaders.MuiDataGrid-withBorderColor,
  .MuiDataGrid-footerContainer.MuiDataGrid-withBorderColor {
    border-color: $separator-color;
  }

  .MuiDataGrid-columnHeader.MuiDataGrid-withBorderColor {
    &:focus {
      outline-color: $primary-color;
    }
  }
}

.MuiDataGrid-root.MuiDataGrid-withBorderColor  {
  border-color: $separator-color;
}

.MuiDataGrid-main {
  color: $primary-color;
  font-size: $default-font-size;

  .MuiDataGrid-cell.MuiDataGrid-withBorderColor {
    border-color: $separator-color;

    &:focus {
      outline-color: $primary-color;
    }
  }
}

.MuiDataGrid-columnHeaders {
  $color: $header-cell-color;
  color: $color;
  path {
    color: $color;
  }
}

.MuiDataGrid-footerContainer {
  .MuiTablePagination-root {
    color: $primary-color;
    font-size: $default-font-size;

    p {
      font-size: $default-font-size;
    }

    svg {
      color: $primary-color;
    }
  }
}

.MuiDataGrid-overlayWrapperInner > .MuiDataGrid-overlay {
  background-color: $container-background-color;
}