.MuiDialog-container {

  .MuiDialogTitle-root, .MuiDialogContent-root > p {
    color: $primary-color;
  }

  .MuiDialogTitle-root, .MuiDialogContent-root {
    padding: $default-padding;
  }

  .MuiDialogTitle-root {
    font-size: $font-size-h5;
    font-weight: bold;
  }

  .MuiDialogContent-root > p {
    font-size: $default-font-size;
  }

  .MuiPaper-root {
    background-color: $container-background-color;
    border: 1px solid $primary-color;
  }

  .MuiDialogActions-root {
    padding: 0 $default-padding $default-padding $default-padding;

    .MuiButtonBase-root.delete-button-dialog {
      background-color: $danger-color;
      border: 1px solid $container-background-color;

      &:hover {
        background-color: $container-background-color;
        color: $danger-color;
        border-color: $danger-color;
      }
    }

    .MuiButtonBase-root.cancel-button-dialog {
      background-color: $warning-color;
      border: 1px solid $container-background-color;

      &:hover {
        background-color: $container-background-color;
        color: $warning-color;
        border-color: $warning-color;
      }
    }

    .MuiButtonBase-root.create-button-dialog, .MuiButtonBase-root.edit-button-dialog {
      background-color: $success-color;
      border: 1px solid $container-background-color;

      &:hover {
        background-color: $container-background-color;
        color: $success-color;
        border-color: $success-color;
      }
    }
  }
}

.dialog-hints {
  h2 {
    @include title($font-size-h6);
    margin-bottom: 10px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
    font-size: $small-font-size;
  }
}