nav {
  border-bottom: borderAndOutlineValue($separator-color);
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: $z-index-nav;

  .MuiButton-root.MuiButton-outlined {
    $color: $quaternary-color;
    $hover-color: $primary-color;
    color: $color;
    border-color: $color;

    &:hover {
      color: $hover-color;
      border-color: $hover-color;
    }
  }
}