@import "abstracts/globals/variables";
@import "abstracts/globals/mixins";
@import "abstracts/components/atom/button";
@import "abstracts/components/organism/data_grid";
@import "abstracts/components/organism/table";

body {
  background-color: $background-color;
  color: $primary-color;
  font-family: Roboto, sans-serif;
  font-size: $default-font-size;
  display: flex;
  justify-content: center;
}

h1 {
  @include title($font-size-h1);
  margin-bottom: calc(2 * $default-font-size);
}

h2 {
  @include title(calc(2.5 * $default-font-size));
}

h3 {
  @include title(calc(2 * $default-font-size));
}

h4 {
  @include title(calc(1.75 * $default-font-size));
}

h5 {
  @include title(calc(1.5 * $default-font-size));
}

h6 {
  @include title(calc(1.25 * $default-font-size));
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h2, h3, h4, h5, h6 {
  margin-bottom: $default-font-size;
}

#root {
  width: 65%;
}

.paragraph {
  margin: 0;
}

.link-with-icon {
  display: flex;
  text-decoration: none;
  color: $primary-color;
  transition: $default-transition-time;

  &:hover {
    color: $tertiary-color;
    transition: $default-transition-time;
    svg {
      margin-left: 5px;
    }
  }

  svg {
    align-self: center;
  }
}

.navbar {
  background-color: $container-background-color;
  display: flex;
  justify-content: space-between;
  padding: $default-padding;
  position: sticky;
  top: 0;

  button {
    color: $secondary-color;
    border-color: $secondary-color;

    &:hover {
      color: $tertiary-color;
      border-color: $tertiary-color;
    }
  }
}

.website-container {
  background-color: $container-background-color;
  margin-top: $font-size-h1;
  padding: calc(2 * $default-padding) $default-padding $default-padding $default-padding;
}

.container {
  margin-bottom: $default-font-size;
}
