@import "abstracts/globals/variables";
@import "abstracts/globals/mixins";
@import "abstracts/globals/placeholders";
@import "abstracts/components/atom/button";
@import "abstracts/components/atom/link";
@import "abstracts/components/organism/data_grid";
@import "abstracts/components/organism/table";
@import "abstracts/components/organism/dialog";
@import "abstracts/components/organism/form";

body {
  background-color: $background-color;
  color: $primary-color;
  font-family: Roboto, sans-serif;
  font-size: $default-font-size;
  display: flex;
  justify-content: center;
}

h1 {
  @include title($font-size-h1);
  margin-bottom: 40px;
}

h2 {
  @include title(calc(2.25 * $default-font-size));
}

h3 {
  @include title(calc(2 * $default-font-size));
}

h4 {
  @include title(calc(1.75 * $default-font-size));
}

h5 {
  @include title($font-size-h5);
}

h6 {
  @include title($font-size-h6);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
}

sup {
  font-size: $small-font-size;
}

#root {
  width: 65%;
}

ul, ol, p {
  margin: 0;
}

.navbar {
  background-color: $container-background-color;
  margin-bottom: $font-size-h1;
  display: flex;
  justify-content: space-between;
  padding: $default-padding;
  position: sticky;
  top: 0;

  button {
    color: $secondary-color;
    border-color: $secondary-color;

    &:hover {
      color: $tertiary-color;
      border-color: $tertiary-color;
    }
  }
}

.website-container {
  background-color: $container-background-color;
  padding: calc(2 * $default-padding) calc(2 * $default-padding) $default-padding calc(2 * $default-padding);
}

.container {
  margin-bottom: $default-font-size;
}

.hints {
  @extend %hints;
}
