@mixin title($font-size) {
  font-size: $font-size;
  line-height: $font-size;
}

@mixin operation-button($color, $border-color) {
  background-color: $color;
  outline: borderAndOutlineValue($border-color);

  &:hover {
    background-color: $border-color;
    color: $color;
    outline-color: $color;
  }
}