%warning-button {
  @include operation-button($warning-color, $container-background-color);
}

%success-button {
  @include operation-button($success-color, $container-background-color);
}

%danger-button {
  @include operation-button($danger-color, $container-background-color);
}

%hints {
  sup {
    margin-right: 2px;
  }

  ul {
    list-style-type: none;
    padding-left: 20px;
  }

  li {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

%input-field {
  font-size: $default-font-size;
  background-color: $container-background-color;
  border: 1px solid $background-color;
  color: $primary-color;

  &:focus-visible {
    border: 1px solid $primary-color;
    outline: none;
  }
}