$background-color: #434343;
$container-background-color: #201e1b;

$primary-color: #1687de;
$secondary-color: #ffb700;
$tertiary-color: #9abeff;

$default-font-size: 20px;
$font-size-h1: calc(3 * $default-font-size);

$default-padding: 20px;

$default-transition-time: 250ms;