$background-color: #434343;
$container-background-color: #201e1b;

$primary-color: #1687de;
$secondary-color: #ffb700;
$tertiary-color: #9abeff;

$danger-color: #de1634;
$danger-light-color: #f7193a;
$success-color: #16de5c;
$warning-color: #de5c16;