$background-color: #434343;
$container-background-color: #201e1b;

$primary-color: #47afff;
$secondary-color: #ff9747;
$tertiary-color: #f347ff;
$quaternary-color: #53ff47;

$danger-color: #ff4753;
$success-color: $quaternary-color;
$warning-color: $secondary-color;

$heading-color: $secondary-color;
$header-cell-color: $secondary-color;
$separator-color: $background-color;